<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <%- include('helpers/head'); -%>
    <link href="/css/custom/details.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- header -->
    <%- include('helpers/header'); -%>
	<%users.forEach(user => {%>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8">
              <div
                id="user-picture-carousel"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <% let i = 0; %> <%images.forEach(image => {%>
                  <div
                    class="carousel-item <% if (i === 0) { %> active <% i++} %>"
                  >
                    <img
                      class="details-img rounded"
                      src="img/pics/<%=image.picture%>"
                      alt="user-image"
                    />
                  </div>
                  <%})%>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#user-picture-carousel"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#user-picture-carousel"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
                <h5><%=user.username%></h5>
				<h6> Bio </h6>
				<p class="lead"><%=user.bio%> </p>
                <form action="" method="POST">
                  <button
                    class="btn btn-outline-primary"
                    type="button"
                    dis-like
                    class="btn btn-primary btn-block"
                  ></button>
                  <button
                    class="btn btn-outline-danger"
                    type="button"
                    name="un-block"
                    id="un-block"
                    class="btn btn-danger btn-block"
                  >
                    Block
                  </button>
                </form>
          </div>

          <div class="col-sm">
            <div
              class="alert alert-info alert-dismissible fade"
              role="alert"
            ></div>
            
			<% if (liked) {%>
            <p>
              <%=user.username%> likes you
            </p>
            <%}%>
            <p>
              <label for="username">status: </label>
              <span id="status"><%=user.status%></span>
            </p>
            <p>
              <label for="">Last Seen:</label>
              <% if (user.status !== 'online'){%>
              <%=user.lastSeen.toLocaleString()%> <%}%>
            </p>
            <p>
              <label for="">Last name:</label>
              <%=user.lastname%>
            </p>
            <p>
              <label for="">First name:</label>
              <%=user.firstname%>
            </p>
            <p>
              <label for="">Gender:</label>
              <%=user.gender%>
            </p>
            <p>
              <label for="">Age:</label>
              <%=user.age%>
            </p>
            <p>
              <label for="">Bibliography:</label>
            </p>
            <p>
              <label for="">Sexual Preference:</label>
              <%=user.sexualPreference%>
            </p>
            <p>
              <label for="">Fame rating:</label>
              <%=user.fameRating%>
            </p>
            <p>
              <label for="">Profile picture:</label>
            </p>
            <p>
              <label for="">Ethnicity:</label>
              <%=user.ethnicity%>
            </p>
            <p>
              <label for="">Country:</label>
              <%=user.country%>
            </p>
            <p>
              <label for="">City:</label>
              <%=user.city%>
            </p>
            <p>
              <label for="">Region:</label>
              <%=user.region%>
            </p>
            <%})%>
            <p>
              <label for="">Interests:</label>
              <%interests.forEach(interest =>
              {%><%=interest.interestName%>,<%})%>
            </p>
          </div>
          <input type="text" hidden class="_" value="<%=username%>" />
        </div>
      </div>
      <script src="/js/custom/details.js" rel="text/js"></script>
    </main>
    <!-- footer -->
    <%- include('helpers/footer'); -%>
  </body>
</html>
