<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <%- include('helpers/head'); -%>
        <link href="/css/custom/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- header -->
        <%- include('helpers/header'); -%>
        <%users.forEach(user => {%>
            <input class="form-control" name="username" placeholder="<%=user.username%>" readonly>
            <%=user.lastname%><br/>
            <%=user.firstname%><br/>
        <%})%>
        <button type="button" dis-like class="btn btn-primary btn-block">Like</button>
        <button type="button" name="un-block" class="btn btn-danger btn-block">Block</button>
        <input type="text" hidden class="_" value="<%=username%>" />
        <script src="/js/custom/dis-like.js" rel="text/js"></script>
        <!-- footer -->
        <%- include('helpers/footer'); -%>
    </body>
</html>
