<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <%- include('helpers/head'); -%>
        <link href="/css/custom/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- header -->
        <%- include('helpers/header'); -%>
        <div class="alert alert-info alert-dismissible fade" role="alert">
            <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          </div>
        <%users.forEach(user => {%>
            <input class="form-control" name="username" placeholder="<%=user.username%>" readonly>
            <label for="">Profile picture:</label>
            <br>
            <label for="">Last Seen:</label>
            <br>
            <label for="">Last name:</label>
            <%=user.lastname%><br/>
            <label for="">First name:</label>
            <%=user.firstname%><br/>
            <label for="">Gender:</label>
            <%=user.gender%><br/>
            <label for="">Age:</label>
            <br>
            <label for="">Bibliography:</label>
            <%=user.bibliography%><br/>
            <label for="">Sexual Preference:</label>
            <br>
            <label for="">Interests:</label>
            <br>
            <label for="">Fame rating:</label>
            <br>
            <label for="">Other pictures:</label>
        <%})%>
        <form action="" method="POST">
            <button type="button" dis-like class="btn btn-primary btn-block"></button>
            <button type="button" name="un-block" id="un-block" class="btn btn-danger btn-block">Block</button>
        </form>
        <input type="text" hidden class="_" value="<%=username%>" />
        <script src="/js/custom/dis-like.js" rel="text/js"></script>
        <script src="/js/custom/details.js" rel="text/js"></script>
        <!-- footer -->
        <%- include('helpers/footer'); -%>
    </body>
</html>
