<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home</title>
      <%- include('helpers/head'); -%>
      <link href="/css/custom/home.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <!-- header -->
        <%- include('helpers/header'); -%>

        Hi <%= username %> You have succesfully loggedin

        <!-- User card -->
        <!-- <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/imagecap.svg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">
              <span class="like" data-feather="check-circle"></span>
              <span class="dislike" data-feather="x-circle"></span>
            </p>
          </div>
        </div> -->

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <%users.forEach(user => {%>
            <tr>
              <td><%=user.firstname%></td>
              <td><%=user.lastname%></td>
              <td>@<%=user.username%></td>
            </tr>
            <%})%>
          </tbody>
        </table>

        <!-- footer -->
        <%- include('helpers/footer'); -%>
    </body>
</html>
