<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile</title>
        <%- include('helpers/head'); -%>
        <link href="/css/custom/profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <%- include('helpers/header'); -%>
        </header>
        <CENTER>
        <div class="form-group">
            <h1> Profile</h1>
            <form action="profile" method="POST">
            <table class="borderbox"><tr>
                    <td>
                        <label class="co-md-4 control-label">Username:</label>
                    </td>
                    <td>
                        <input type="text"  name="username" placeholder="<%= username %>" class="form-control">
                    </td>
                    <tr></tr>
                    <td>
                        <label class="co-md-4 control-label">Email:</label>
                    </td>
                    <td><input type="email" name="email" id="email" placeholder="<%= email %>" class="form-control"></td><tr></tr>
                    <td>
                        <label class="co-md-4 control-label">Name:</label>
                    </td>
                    <td><input type="text" name="name" id="name" class="form-control"></td><tr></tr>
                    <td>
                        <label class="co-md-4 control-label">Password:</label>
                    </td>
                    <td><input type="password" name="password" class="form-control"></td><tr></tr>
                    <td><input disabled type="submit" name="submit" value="Update Profile" class="form-control"></td>
                </tr>
            </table>
            </form>
        </div>
        </CENTER>
        <!-- footer -->
            <%- include('helpers/footer'); -%>
        <script language="Javascript" type="text/javascript" src="/js/custom/profile.js"></script>
    </body>

</html>
