<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile</title>
        <%- include('helpers/head'); -%>
        <link href="/css/profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <%- include('helpers/header'); -%>
        </header>
        <CENTER>
        <div class="login-form">
            <h1> Profile</h1>
            <form action="" method="">
            <table class="borderbox"><tr>
                    <td>username:</td>
                    <td><input type="text"  name="username" value="<%= username %>"></td><tr></tr>
                    <td>Email:</td>
                    <td><input type="email" name="email" id="email" value="<%= email %>"></td><tr></tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" id="name"></td><tr></tr>
                    <td>Password:</td>
                    <td><input type="password" name="password" ></td><tr></tr>
                    <!-- <td>Confirm Password:</td> -->
                    <!-- <td><input type="password" name="passwordConf"></td><tr></tr> -->
                    <!-- <td><input type="hidden" name="token" value="<?php echo Token::generate();?>" ></td><tr></tr> -->
                    <td><input type="submit" name="submit" value="Update Profile"></td>
                </tr>
            </table>
            </form>
        </CENTER>
        <footer>
            <%- include('helpers/footer'); -%>
        </footer>
    </body>

</html>
