<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Profile</title>
        <%- include('helpers/head'); -%>
        <link href="/css/custom/profile.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- PROFILE NAV BAR -->
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="home">
                <span class="feather-16" data-feather="heart"></span>
                <span class="feather-16" data-feather="activity"></span>
                Matcha
                <span class="feather-16" data-feather="activity"></span>
                <span class="feather-16" data-feather="heart"></span>
            </a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
            <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="logout">
                    <!-- Sign out -->
                    Logout
                    <span class="feather-16" data-feather="log-out"></span>
                </a>
            </li>
            </ul>
        </nav>
        <!-- EDIT PROFILE -->
        <section id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                         <header>
                            <%- include('helpers/header'); -%>
                        </header>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="col-md-8">
                            <a href="#" class="btn btn-primary btn-block">
                                    <i class="fas fa-arrow-left"></i> Back To Dashboard
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#" class="btn btn-success btn-block">
                                <i class="fas fa-lock"></i> Change Password
                            </a>
                        </div>
                        <div class="col-md-8">
                            <a href="#" class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> Delete Account
                            </a>
                        </div>
                        <section id="profile">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4> Edit Profile</h4>
                                            </div>
                                            <div class="card-body">
                                                <form action="profile" method="POST">
                                                    <div class="form-group">
                                                        <label>Username:</label>
                                                        <input type="text"  name="username" id="username" placeholder="<%= username %>" class="form-control">
                                                        <label >Email:</label>
                                                        <input type="email" name="email" id="email" placeholder="<%= email %>" class="form-control">
                                                        <label >Firstname:</label>
                                                        <input type="text" name="firstname" id="firstname" placeholder="<%= firstname %>" class="form-control">
                                                        <label>Lastname:</label>
                                                        <input type="text" name="lastname" id="lastname" placeholder="<%= lastname %>" class="form-control">
                                                        <label>Gender:</label>
                                                        <div class="radio radio-inline">
                                                            <label><input type="radio" name="optradio" >Male</label>
                                                            <label><input type="radio" name="optradio">Female</label>
                                                            <label><input type="radio" name="optradio">Bi-sexual</label>
                                                        </div>
                                                        <label>Password:</label>
                                                        <input type="password" name="password" id="password" placeholder="change password" class="form-control">
                                                        <div class="form-group">
                                                            <label>Bio</label>
                                                            <textarea class="form-control" name="editor1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci earum itaque atque, rerum nesciunt officiis inventore dolore corporis possimus. Voluptatum, placeat architecto corporis iste ab illum distinctio vitae. Eveniet harum eaque tempora, totam ipsum voluptates eum magnam maiores earum explicabo?</textarea>
                                                        </div>
                                                        <input disabled type="submit" name="submit" value="Update Profile" class="form-control">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-md-6">
                                        <h3>Your Avator</h3>
                                        <img src="/img/beads.jpeg" alt="" class="d-block img-fluid mb-6">
                                        <button class="btn btn-primary btn-block">Edit Image</button>
                                        <button class="btn btn-danger btn-block">Delete Image</button>
                                    </div>
                                </div>
                </div>
        </section>
                    </div>
                </div>
            </div>
            </section>
        </body> 
        <!-- footer -->
            <%- include('helpers/footer'); -%>
        <script language="Javascript" type="text/javascript" src="/js/custom/profile.js"></script>
</html>
